html {
  height: 100%;
  margin: 0px;
}

body {
  background-color: whitesmoke;
  min-height: 100%;
}

.title {
  text-align: center;
}

#css, #android, #ruby, #everything {
  display: none;
  border-style: solid;
  padding: 50px;
  margin-top: 100px;
  margin-left: 50px;
}

span {
  font-weight: bold;
}
